/* font */
* {
    font-family: 'Work Sans', sans-serif;
}

body {
    border: 2px solid #0D99FF;
}

/* header style */

header {
    width: 1900px;
    height: 130px;
    margin-left: 240px;
    margin-right: 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.span {
    color: #ff42a5;
}

.frame-img {
    width: 86.px;
    height: 40px;
    margin-top: 45px
}

.nav-tittle {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    margin-top: 30px;
}

nav a {
    text-decoration: none;
}


/* main style */
main {
    width: 1900px;
    height: 3000px;
    margin-left: 240px;
    margin-right: 240px;
    border: 2px solid orange;
}

.goat {
    display: flex;
    justify-content: space-between;
    width: 1900px;
    height: 700px;
}

.goat-1 {
    background-image: url('../images/Group\ 14.png');
}

.goat-2 {
    margin-top: 20px;
}

.goat-des {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin-top: 40px;
}

.goat-des-1 {
    font-size: 80px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 30px;
}

#span-1 {
    color: #be50d3;
}

.btn {
    margin-top: 40px;
    gap: 10px;
}

.btn-primary {
    padding: 21px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #ff42a5;
    border-radius: 48px;
    border: none;
}

.btn-primary-1 {
    padding: 21px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    border: none;
    background-color: #4EC5F7;
}


/* main gamer style */
.gamer {
    display: flex;
    gap: 50px;
    height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-container {
    margin-top: 60px;
}

.gamer-content {
    margin-top: 130px;
}

.gamer-tittle {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
}

.gamer-des {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
}

#gamer-btn {
    margin-left: 800px;
}

.gamer-tittle-4 {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
}

.gamer-tittle-5 {
    color: #534C64;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
}

/* video style */
.video-tittle {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.video-des {
    color: #534C64;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.video-container {
    display: flex;
    gap: 70px;
    margin-top: 40px;
}

.outer,
.inner {
    width: 342px;
    height: 400px;
}

.inner {
    /* background-color: #000000; */
    color: #ff42a5;
    transform: translate(0px, -400px);
    border-radius: 16px;
    text-align: center;
}

.inner:hover {
    background-color: rgb(109, 106, 106);
}

/* main  play */
.play {
    display: flex;
    justify-content: space-between;
}

.play-d1 {
    margin-top: 250px;
}

.play-div {
    margin-top: 100px;
}

.play-tittle {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.video-des {
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
    width: 353px;
}

/* icon bar style */
.icon-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 120px;
    gap: 80px;
}

.icon-bar-img {
    display: flex;
    gap: 20px;
}

.icon-bar-img:hover {
    width: 295px;
    height: 80px;
    border: 2px solid #ff42a5;
    border-radius: 50px;
    background: #FFF;

}


/* footer style */
footer {
    width: 2360px;
    height: 630px;
    background-color: #1b0f3c;
}

#footer-img {
    margin-left: 1100px;
}

#footer {
    display: flex;
    gap: 60px;
    margin-left: 700px;
    margin-top: 25px;
}

#footer li {
    list-style: none;
}

#footer a {
    text-decoration: none;
}

.anchor {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.footer-3 {
    display: flex;
    gap: 50px;
    margin-left: 1000px;
    margin-top: 65px;
}

.footer-icon {
    width: 20px;
    height: 20px;
    background-color: #FFF;
}

.footer-4 {
    display: flex;
    gap: 60px;
    margin-left: 850px;
    margin-top: 75px;
}

.footer-des {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

.footer-5{
    margin-left: 1000px;
    margin-top: 40px;
}




/* media style */

/* mobile device */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column
    }

    nav>ul {
        flex-direction: column
    }

    header {
        margin: 20px;
        width: 300px;
        height: 370px;
        justify-content: center;
    }
}

@media screen and (max-width:576px) {
    main {
        margin: 40px;
        width: 300px;
    }

    .goat {
        flex-direction: column-reverse
    }

    .goat {
        width: 400px;
    }

    .goat-1 {
        width: 350px;
    }

    .goat-img {
        width: 250px;
        height: 200px;
    }

    .btn-primary {
        margin-bottom: 5px;
    }
}

@media screen and (max-width:576px) {
    .gamer {
        flex-direction: column;
    }

    .gamer-content {
        margin-top: 5px;
    }

    .gamer-img {
        width: 400px;
    }

    #gamer-btn {
        margin-left: 50px;
    }
}

@media screen and (max-width:576px) {
    .video {
        margin-top: 300px;
    }

    .video-container {
        flex-direction: column;
    }

    .video-img {
        width: 342px;
        height: 400px;
    }
}

@media screen and (max-width:576px) {
    .play {
        display: flex;
    }
}